
<button id="test" onclick="getDataWithAjax()">Test</button>


<link rel="stylesheet" href="~/css/uretim_bildirme_01.css" asp-append-version="true" />
<script src="~/js/uretim_bildirme_01.js" asp-append-version="true"></script>